<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetuer.parking.app.mapper.BeaconCoordinateMapper">
    <resultMap id="BaseResultMap" type="com.cetuer.parking.app.domain.BeaconCoordinate">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="coordinate_id" jdbcType="INTEGER" property="coordinateId"/>
        <id column="beacon_id" jdbcType="INTEGER" property="beaconId"/>
        <result column="rssi" jdbcType="INTEGER" property="rssi"/>
    </resultMap>

    <insert id="insertBeaconCoordinate" parameterType="com.cetuer.parking.app.domain.BeaconCoordinate">
        INSERT INTO `smart-parking-lot`.beacon_coordinate(coordinate_id, beacon_id, rssi)
        VALUES (#{coordinateId}, #{beaconId}, #{rssi})
    </insert>

    <select id="selectMacRssiByCoordinateId" resultType="com.cetuer.parking.app.domain.BeaconRssi">
        SELECT mac, rssi
        FROM `smart-parking-lot`.beacon_coordinate bc
                     LEFT JOIN `smart-parking-lot`.coordinate c ON bc.coordinate_id = c.id
                     LEFT JOIN `smart-parking-lot`.beacon_device bd ON bc.beacon_id = bd.id
        WHERE coordinate_id = #{coordinateId}
    </select>

    <select id="selectByCoordIdAndBeaconId" resultType="com.cetuer.parking.app.domain.BeaconCoordinate">
        SELECT * FROM `smart-parking-lot`.beacon_coordinate WHERE coordinate_id = #{coordinateId} AND  beacon_id = #{beaconId}
    </select>

    <update id="updateBeaconCoordinate">
        UPDATE `smart-parking-lot`.beacon_coordinate SET rssi = #{rssi} WHERE beacon_id = #{beaconId} AND coordinate_id = #{coordinateId}
    </update>
</mapper>