<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetuer.parking.app.mapper.BeaconMapper">
  <resultMap id="BaseResultMap" type="com.cetuer.parking.app.domain.BeaconDevice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mac" jdbcType="VARCHAR" property="mac" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="major" jdbcType="INTEGER" property="major" />
    <result column="minor" jdbcType="INTEGER" property="minor" />
    <result column="x" jdbcType="INTEGER" property="x" />
    <result column="y" jdbcType="INTEGER" property="y" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="selectAll" resultType="com.cetuer.parking.app.domain.BeaconDevice">
    SELECT * FROM `smart-parking-lot`.beacon_device
  </select>

  <select id="selectIdByMac" parameterType="String" resultType="java.lang.Integer">
    SELECT * FROM `smart-parking-lot`.beacon_device WHERE mac = #{mac}
    </select>
</mapper>