<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetuer.parking.app.mapper.ParkingLotMapper">

    <resultMap id="BaseResultMap" type="com.cetuer.parking.app.domain.ParkingLot">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="longitude" column="longitude" jdbcType="DECIMAL"/>
        <result property="latitude" column="latitude" jdbcType="DECIMAL"/>
        <result property="carportCount" column="carport_count" jdbcType="INTEGER"/>
        <result property="parkingCount" column="parking_count" jdbcType="INTEGER"/>
        <result property="priceStandard" column="price_standard" jdbcType="FLOAT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectAll" resultType="com.cetuer.parking.app.domain.ParkingLot">
        SELECT *
        FROM `smart-parking-lot`.parking_lot
    </select>
    <select id="selectParkingIdByLatLng" resultType="java.lang.Integer">
        SELECT id
        FROM `smart-parking-lot`.parking_lot
        WHERE longitude = #{longitude}
          AND latitude = #{latitude}
    </select>
</mapper>
