<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetuer.parking.admin.mapper.MenuMapper">
    <resultMap id="MenuResultMap" type="com.cetuer.parking.admin.domain.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="route_path" jdbcType="VARCHAR" property="routePath"/>
        <result column="component_path" jdbcType="VARCHAR" property="componentPath"/>
        <result column="menu_type" jdbcType="CHAR" property="menuType"/>
        <result column="visible" jdbcType="INTEGER" property="visible"/>
        <result column="perms" jdbcType="VARCHAR" property="perms"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectMenuVo">
        SELECT id,
               menu_id,
               parent_id,
               menu_name,
               order_num,
               route_path,
               component_path,
               menu_type,
               `visible`,
               perms,
               icon,
               create_time,
               update_time
        FROM `smart-parking-lot`.menu
    </sql>

    <select id="selectMenuList" parameterType="com.cetuer.parking.admin.domain.Menu" resultMap="MenuResultMap">
        <include refid="selectMenuVo"/>
        <where>
            <if test="menuName != null and menuName != ''">
                AND menu_name LIKE concat('%', #{menuName}, '%')
            </if>
            <if test="visible != null and visible != ''">
                AND `visible` = #{visible}
            </if>
        </where>
        ORDER BY parent_id, order_num
    </select>

    <select id="selectMenuTreeAll" resultMap="MenuResultMap">
        <include refid="selectMenuVo"/>
        WHERE menu_type IN ('M', 'C')
        ORDER BY parent_id, order_num
    </select>

    <select id="selectMenuPermsByUserId" parameterType="Integer" resultType="String">
        SELECT DISTINCT m.perms
        FROM `smart-parking-lot`.menu m
                     LEFT JOIN `smart-parking-lot`.role_menu rm ON m.id = rm.menu_id
                     LEFT JOIN `smart-parking-lot`.user_role ur ON rm.role_id = ur.role_id
                     LEFT JOIN `smart-parking-lot`.`user` u ON u.id = ur.user_id
        WHERE m.perms IS NOT NULL
          AND u.id = #{userId}
    </select>

    <select id="selectMenuTreeByUserId" parameterType="Integer" resultMap="MenuResultMap">
        SELECT DISTINCT m.id,
                        m.menu_id,
                        m.parent_id,
                        m.menu_name,
                        m.order_num,
                        m.route_path,
                        m.component_path,
                        m.menu_type,
                        m.`visible`,
                        m.perms,
                        m.icon,
                        m.create_time,
                        m.update_time
        FROM `smart-parking-lot`.menu m
                     LEFT JOIN `smart-parking-lot`.role_menu rm ON m.id = rm.menu_id
                     LEFT JOIN `smart-parking-lot`.user_role ur ON rm.role_id = ur.role_id
                     LEFT JOIN `smart-parking-lot`.`user` u ON u.id = ur.user_id
        WHERE u.id = #{userId}
          AND menu_type IN ('M', 'C')
        ORDER BY m.parent_id, m.order_num
    </select>
</mapper>