<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetuer.parking.admin.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.cetuer.parking.admin.api.domain.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="selectUserVo">
        SELECT id,
               username,
               `password`,
               avatar,
               phone,
               email,
               nickname,
               note,
               `status`,
               create_time,
               update_time
        FROM `smart-parking-lot`.`user`
    </sql>

    <select id="selectUserByUsername" parameterType="String" resultMap="UserResultMap">
        <include refid="selectUserVo"/>
        WHERE username = #{userName}
    </select>

    <select id="selectUserByUserId" parameterType="Integer" resultMap="UserResultMap">
        <include refid="selectUserVo"/>
        WHERE id = #{userId}
    </select>

    <select id="selectUserList" parameterType="com.cetuer.parking.admin.api.domain.User" resultMap="UserResultMap">
        <include refid="selectUserVo"/>
        <where>
            <if test="username != null and username != ''">
                AND username like concat('%', #{username}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="phone != null and phone != ''">
                AND phone like concat('%', #{phone}, '%')
            </if>
        </where>
    </select>
</mapper>